In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\rudra\\Downloads\\Melbourne_housing_FULL.csv")

In [28]:
dt=df.drop(["Address","Type","Method","SellerG","Date","YearBuilt"],axis="columns")
dt.isna().sum()

Suburb               0
Rooms                0
Price             7610
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [57]:
dt

,Suburb,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,2,NaN,2.5,3067.0,2.0,1.0,1.0,126.0,160.2564,Yarra City Council,-37.801400,144.995800,Northern Metropolitan,4019.0
1,Abbotsford,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,160.2564,Yarra City Council,-37.799600,144.998400,Northern Metropolitan,4019.0
2,Abbotsford,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.0000,Yarra City Council,-37.807900,144.993400,Northern Metropolitan,4019.0
3,Abbotsford,3,NaN,2.5,3067.0,3.0,2.0,1.0,0.0,160.2564,Yarra City Council,-37.811400,145.011600,Northern Metropolitan,4019.0
4,Abbotsford,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.0000,Yarra City Council,-37.809300,144.994400,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,1480000.0,6.3,3013.0,4.0,1.0,3.0,593.0,160.2564,Maribyrnong City Council,-37.810530,144.884670,Western Metropolitan,6543.0
34853,Yarraville,2,888000.0,6.3,3013.0,2.0,2.0,1.0,98.0,104.0000,Maribyrnong City Council,-37.815510,144.888260,Western Metropolitan,6543.0
34854,Yarraville,2,705000.0,6.3,3013.0,2.0,1.0,2.0,220.0,120.0000,Maribyrnong City Council,-37.822860,144.878560,Western Metropolitan,6543.0
34855,Yarraville,3,1140000.0,6.3,3013.0,0.0,0.0,0.0,0.0,160.2564,Maribyrnong City Council,-37.810634,145.001851,Western Metropolitan,6543.0
34856,Yarraville,2,1020000.0,6.3,3013.0,2.0,1.0,0.0,250.0,103.0000,Maribyrnong City Council,-37.818100,144.893510,Western Metropolitan,6543.0

In [84]:
dt["Postcode"]=dt["Postcode"].fillna(dt["Postcode"].mean())

In [86]:
X_train,X_test,y_train,y_test=train_test_split(dt[["Rooms","Distance","Postcode","Bedroom2","Bathroom","Car","Landsize","BuildingArea","CouncilArea","Lattitude","Longtitude","Regionname","Propertycount"]],dt.Price)

In [62]:
from sklearn.preprocessing import LabelEncoder

In [75]:
le=LabelEncoder()
dt["Regionname"]=le.fit_transform(dt.Regionname)

In [79]:
dt

,Suburb,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,2,1.050173e+06,2.5,3067.0,2.0,1.0,1.0,126.0,160.2564,31,-37.801400,144.995800,2,4019.0
1,0,2,1.480000e+06,2.5,3067.0,2.0,1.0,1.0,202.0,160.2564,31,-37.799600,144.998400,2,4019.0
2,0,2,1.035000e+06,2.5,3067.0,2.0,1.0,0.0,156.0,79.0000,31,-37.807900,144.993400,2,4019.0
3,0,3,1.050173e+06,2.5,3067.0,3.0,2.0,1.0,0.0,160.2564,31,-37.811400,145.011600,2,4019.0
4,0,3,1.465000e+06,2.5,3067.0,3.0,2.0,0.0,134.0,150.0000,31,-37.809300,144.994400,2,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,348,4,1.480000e+06,6.3,3013.0,4.0,1.0,3.0,593.0,160.2564,16,-37.810530,144.884670,6,6543.0
34853,348,2,8.880000e+05,6.3,3013.0,2.0,2.0,1.0,98.0,104.0000,16,-37.815510,144.888260,6,6543.0
34854,348,2,7.050000e+05,6.3,3013.0,2.0,1.0,2.0,220.0,120.0000,16,-37.822860,144.878560,6,6543.0
34855,348,3,1.140000e+06,6.3,3013.0,0.0,0.0,0.0,0.0,160.2564,16,-37.810634,145.001851,6,6543.0
34856,348,2,1.020000e+06,6.3,3013.0,2.0,1.0,0.0,250.0,103.0000,16,-37.818100,144.893510,6,6543.0

In [85]:
dt.isna().sum()

Suburb           0
Rooms            0
Price            0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [91]:
model=LinearRegression()
model.fit(X_train,y_train)
print(model.score(X_train,y_train))
model.score(X_test,y_test)

0.34537212794133343

0.34947002728581533

In [93]:
from sklearn.linear_model import Lasso
ls=Lasso()
ls.fit(X_train,y_train)
print(ls.score(X_train,y_train))
ls.score(X_test,y_test)

0.34537212724495603

0.34946952332291303

In [92]:
from sklearn.linear_model import Ridge
rd=Ridge()
rd.fit(X_train,y_train)
print(rd.score(X_train,y_train))
rd.score(X_test,y_test)

0.3453714389946221

0.3494684880407791