In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [12]:
df=pd.read_csv("C:\\Users\\rudra\\Downloads\\homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [13]:
dummies = pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0              True        False         False
1              True        False         False
2              True        False         False
3              True        False         False
4              True        False         False
5             False        False          True
6             False        False          True
7             False        False          True
8             False        False          True
9             False         True         False
10            False         True         False
11            False         True         False
12            False         True         False

In [15]:
merged=pd.concat([df,dummies],axis="columns")
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000             True        False         False
1   monroe township  3000  565000             True        False         False
2   monroe township  3200  610000             True        False         False
3   monroe township  3600  680000             True        False         False
4   monroe township  4000  725000             True        False         False
5      west windsor  2600  585000            False        False          True
6      west windsor  2800  615000            False        False          True
7      west windsor  3300  650000            False        False          True
8      west windsor  3600  710000            False        False          True
9       robinsville  2600  575000            False         True         False
10      robinsville  2900  600000            False         True         False
11      robinsville  3100  620000            False         True         False
12      robinsville  3600  695000            False         True         False

In [19]:
df_dummies=merged.drop(["west windsor","town"],axis="columns")
df_dummies

    area   price  monroe township  robinsville
0   2600  550000             True        False
1   3000  565000             True        False
2   3200  610000             True        False
3   3600  680000             True        False
4   4000  725000             True        False
5   2600  585000            False        False
6   2800  615000            False        False
7   3300  650000            False        False
8   3600  710000            False        False
9   2600  575000            False         True
10  2900  600000            False         True
11  3100  620000            False         True
12  3600  695000            False         True

In [21]:
model=linear_model.LinearRegression()
model.fit(df_dummies[["area","monroe township","robinsville"]],df_dummies.price)

LinearRegression()

In [22]:
model.predict([[3400,True,False]])

C:\Users\rudra\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([641227.69296925])

In [23]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [25]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [27]:
dfle=df
dfle.town=le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [66]:
X=dfle[["town","price","area"]].values
X

array([[     0, 550000,   2600],
       [     0, 565000,   3000],
       [     0, 610000,   3200],
       [     0, 680000,   3600],
       [     0, 725000,   4000],
       [     2, 585000,   2600],
       [     2, 615000,   2800],
       [     2, 650000,   3300],
       [     2, 710000,   3600],
       [     1, 575000,   2600],
       [     1, 600000,   2900],
       [     1, 620000,   3100],
       [     1, 695000,   3600]], dtype=int64)

In [67]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([('town',OneHotEncoder(),[0])],remainder='passthrough')

In [71]:
X=ct.fit_transform(X)
X

array([[0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 5.50e+05, 2.60e+03],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 5.65e+05, 3.00e+03],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 6.10e+05, 3.20e+03],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 6.80e+05, 3.60e+03],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 7.25e+05, 4.00e+03],
       [1.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 5.85e+05, 2.60e+03],
       [1.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 6.15e+05, 2.80e+03],
       [1.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 6.50e+05, 3.30e+03],
       [1.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 7.10e+05, 3.60e+03],
       [1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 5.75e+05, 2.60e+03],
       [1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 6.00e+05, 2.90e+03],
       [1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 6.20e+05, 3.10e+03],
       [1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 6.95e+05, 3.60e+03]])

In [73]:
X=X[:,1:]

In [78]:
model.fit(X,dfle.price.values)

LinearRegression()

In [79]:
model.predict([[0,1,0,0,5500]])

array([2.08769756e-10])